<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
    <h1>Login</h1>
    <form method="POST" action="{{ url_for('login') }}">
    {{ form.csrf_token }}
    <p>
    {{ form.username.label }}<br>
    {{ form.username(size=32) }}
    </p>
        <p>
    {{ form.email.label }}<br>
    {{ form.email(size=32) }}
    </p>
    <p>
    {{ form.password.label }}<br>
    {{ form.password(size=32) }}
    </p>
        <p>
    {{ form.confirm_password.label }}<br>
    {{ form.confirm_password(size=32) }}
    </p>
    <p>
    <input type="submit" value="Login">
    </p>
    </form>
    {% endblock %}
</body>
</html>